<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Продукты</h1>
    <ul>
    {% if products.length != 0 %}
      <ul>
    {% for product in products %}
        <li>
            Товар: {{ product[1] }} |
            Цена: {{ product[2] }} |
            Кол-во: {{ product[3] }} |
        </li>
    {% endfor %}
</ul>
    {% else %}
      <li>Список продуктов пуст.</li>
    {% endif %}
  </ul>

</body>
</html>