<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Вход в гостевую книгу</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" required>
</head>
<body>
    <div class="container mb-3">
        <h1>🔐 Вход в гостевую книгу</h1>
        
        {# Если есть ошибка — показываем её #}
        {% if error %}
            <p class="alert alert-danger">{{ error }}</p>
        {% endif %}
        
        {# Форма отправляет данные методом POST на тот же адрес /login #}
        <form method="POST">
            <input class="form-control mb-3" type="text" name="username" placeholder="Логин" required>
            <input class="form-control mb-3" type="password" name="password" placeholder="Пароль" required>
            <button class="btn btn-primary w-10" type="submit">Войти</button>
        </form>
        
        <p><a href="/">← На главную</a></p>
        <a href="/reg">Регистрация</a>
    </div>
</body>
</html>